*{
    margin: 0;
    padding: 0;
}
header::before{
    content: "";
    background: url('images/header2.jpg') repeat-y ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: -1 ;
    opacity:1; 
}
header{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 80vh;
}
.social{
    display: flex;
    flex-direction: row;
}
.social li {
    list-style: none;
    padding: 20px;
}
svg{
    color: white;
}
header h4{
    font-size: 2rem;
    margin-top: 20vh;
}
header .name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
header .name p{
    font-size: 5rem;
    font-weight: 700;
    padding-top: 40px;
    text-align: center;
    animation:size_inc 1s 1 alternate ;
}
@keyframes size_inc{
    0%{font-size: 3rem;}
    100%{font-size: 5rem;}
}
header .name img{
    position: relative;
    width: 200px;
    animation: rotate 0.6s  2 alternate
}
@keyframes rotate{

0%{transform:rotateY(0deg)}
100%{transform:rotateY(180deg)}
}
h6{
    font-size: 1.33rem;
}
.padd{
  text-align: center;
}
/* navbar */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.list{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: rgb(100, 98, 98);
   
}
#navlist li{
   
    padding: 20px;
}
#navlist li a:hover{
    color: rgb(255, 255, 255);
}
#navlist li:hover{
    background-color: rgb(0, 0, 0);
  }
nav{
    box-shadow: 0 1px 10px rgb(54 54 54 / 18%);
}
.wrapper{
    display: inline;
  }
  .wrapper .static-txt{
    color: rgb(18, 11, 11);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 20vw;
  }
  .wrapper .dyanamic-txt{
    margin-left: 17vw;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dyanamic-txt .li1{
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dyanamic-txt .li1 span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
    padding: 10px;
  }
  .dyanamic-txt .li1 span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
  .id div h2{
    font-size: 2rem;
    margin-top: 10vh;
  }
  .mygrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
  }
  .intro{
    display: inline-block;
    font-size: 2rem;
    margin-top: 8%;  
    line-height: 30px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(54 54 54 / 40%);
    border-radius: 25px;
    margin-right: 10%;
    margin-left: 10%;
    animation: popup 1s linear alternate;
  }
  @keyframes popup {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  }
  .intrests{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
    background-color: black;

  }
  .intrests div img{
    width: 300px;
    z-index: 2;
  }
  #web img:hover{
        opacity: 0.4;
  }
 .int-txt{
  text-align: center;
 margin-top: 80px;
 position: absolute;
 margin-left: 100px;
 font-size: 30px;
z-index: 1;
 color: white;
 }
 .works{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 70vh;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow: hidden;
 }
 #my-works{
  text-align: center;
  font-size: 2rem;
 }
 .scope {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: slid 30s linear infinite;
  align-items: center;
  margin-top: 34vh;
}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.scope span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}
.scope span:hover img {
  transform: translateY(-50px) scale(1.7);
}
@keyframes slid {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
 h3{
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
 }
 .hire{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 15vh;

 }
 .hire_me{
  height: 30px;
  width: 100px;
  margin-left: 46%;
  border: 2px solid snow;
  border-radius: 12px;
 font-size: 15px;
  color: snow;
  background :rgb(0, 0, 0);
  
}
.hire_me:hover{
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   
}
.hire div h3{
  padding-top: 20px;
}
#contact{
  position: relative;
}
#contact::before{
  position: absolute;
  content: "";
  background: url('/images/contact us.jpg');
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.5;
}
form{
  width: 40%;
  line-height: 20px;
}


.contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
.contact-box input, 
.contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}
footer{
  background-color: #000000;
  color: white;
  height: 20px;
  text-align: center;
  padding-top: 5px;
}
@media screen and (max-width:770px){
    header h4{
    margin-top: 0;
  }
} 
